<mat-card appearance="outlined">
  <mat-card-header><mat-card-title>Ajout d'un devoir</mat-card-title></mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit()" class="form">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nom du devoir" [(ngModel)]="nomDevoir" name="nom" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input matInput type="date" placeholder="Date de rendu" [(ngModel)]="dateDeRendu" name="date" />
      </mat-form-field>

      <button mat-stroked-button color="primary" type="submit" [disabled]="boutonDesactive">Ajouter</button>
    </form>

    
  </mat-card-content>
</mat-card>
